@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* font-family: "Lato"; */
    font-family: "Platypi";
    /* font-family: "Noto Sans"; */
    /* font-family: "Bitter"; */
    background-color: #ebd999;

    transition: visibility 0.2s, background-color 1s 0s;
}

#cover-img {
    width: 70%; 
    margin: 5% 15%;
}


.ai2html {
    /* transition: all 0.5s; */
    transition: all 0.5s, margin 1.5s 0s, transform 2.5s 0s, visibility 0.5s 0.5s;
}

.ai2html-container {
    /* transition: opacity 0.5s 0.5; */
    /* transition: all 0.5s; */
    transition: all 0.5s, margin 1.5s 0s, transform 2.5s 0s, 
        visibility 0.5s 0.5s;
    margin-left: auto;
    margin-right: auto;
    /* width: 500px; */
    width: 100%;
    /* height: 100%; */
    overflow:clip;
    transform-origin: bottom right;

    @media only screen and (min-width: 700px) {
        margin-left: auto;
        margin-right: 1%;
        padding-right: 0;
        width: 56%;
    }
}

/* Stolen from https://codepen.io/szpakoli/pen/zYKqoJ */
hr{
  
    border: 0;
    height: 2px;
    width: 20%;
    position: relative;
    margin: 30px auto;
    

    &.center-diamond{
      background: #58c;
      
      &:before{
        content: "";
        width: 12px;
        height: 12px;
        background: #58c;
        display: inline-block;
        border: 2px solid #58c;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
      }
    }
}

.scrolly-overlay p,
.step-paragraph p,
#intro-paragraph,
#outro-paragraph {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: #000831;
    opacity: 1.0;
    border: black;

    width: 75%;
    margin: auto;
    margin-bottom: 0rem;

    /* If on desktop*/
    @media only screen and (min-width: 700px) {
        text-align: left;
    }
}

#scrolly {
    position: relative;
    padding: 1rem;
    margin-bottom: 0;
    margin: 0;
    transition: background-color 1s 0s;
    /* background-color: #0; */
    @media only screen and (min-width: 700px) {
        padding: 0;
    }
  }

.scrolly-overlay {
    position: relative;
    padding: 0;
    max-width: 32rem;
    margin: 0 auto;

    transition: margin 2s 0s;

    @media only screen and (min-width: 700px) {
        /* transition: margin 2s 0s; */
        /* text-align: left; */
        max-width: 32rem;
        margin-left: 5%;
        margin-right: 65%;
    }
}
  
h1 {
    /* font-family: "Noto Sans"; */
    
    text-align: left;
    font-size: 4.0rem;
    margin-bottom: 0;
    padding-left: 10px;
    /* margin-top: 5%; */

    z-index:50; 
    position:absolute;
    top:30%;
    /* bottom:50%; */
    /* color: #c05200; */
    color: #bfabcc;
    text-shadow: #bfabcc 1px 0 10px,
                 #000000 1px 0 5px,
                 #000000 1px 1px;

    @media only screen and (min-aspect-ratio: 7/5) {
        top:60%;
        /* font-size: 8.0rem; */
        font-size: 17vh;
    }
}

h2 {
    /* font-family: "Noto Sans"; */
    
    text-align: left;
    font-size: 2.0rem;
    font-weight: lighter;
    margin-bottom: 0;
    padding-left: 10px;
    /* margin-top: 5%; */

    z-index:50; 
    position:absolute;
    top:70%;
    /* bottom:50%; */
    /* color: #c05200; */
    color: #bfabcc;
    text-shadow: #000000 1px 0 4px,
                 #000000 1px 0 2px,
                 #000000 1px 1px;

    @media only screen and (min-aspect-ratio: 7/5) {
        top:120%;
        font-size: 3.0rem;
    }
}

/* h2 {
    font-family: "Noto Sans";
    text-align: center;
    font-size: 2.0rem;
    margin-top: 0;
    margin-bottom: 0;
    
    padding-bottom: 0;
} */


.step-paragraph {
    padding: 1rem;
    padding-top:0;
    text-align: center;
    width: 70%;
    
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 33rem;
    /* background-color: #777; */
    /* #ff8c00 */
    background-color: rgba(255, 150, 0, 0.4);
    color: black;
    
    @media only screen and (min-width: 700px) {
        /* text-align: left; */
        /* margin-left: 2%; */
        margin-bottom: 25rem;
    }
}

h3 {
    font-family: "Noto Sans";
    text-align: left;
    font-size: 1rem;
    margin-top: 0;
    padding-left: 10px;
    font-weight: bold;
    color: #bfabcc;
    text-shadow: #000 2px 2px; /* 0 4px; */

    position:absolute;
    left:0;
    z-index:51;
    bottom:7%;
    @media only screen and (min-aspect-ratio: 7/5) {
        bottom:-50%;
    }
}

.sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 0;
    top: 0;
    height: 100vh;
    /* Center everything inside */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

    transition: margin 1.5s 0s, transform 2.5s 0s, visibility 0.5s 0s;
}

.sticky-thing-absolute {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 0;
    top: 0;
    height: 100vh;
    /* Center everything inside */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

    transition: margin 1.5s 0s, transform 2.5s 0s, visibility 0.5s 0s;
}

#bgimg1 {
    
    /* transition: opacity 0.5s 0.5; */
    transition: all 0.5s;
    margin-left: auto;
    margin-right: auto;
    /* width: 500px; */
    width: 100%;
    /* transition: margin 1.5s 0s, transform 2.5s 0s, visibility 0.5s 0s; */
    @media only screen and (min-width: 700px) {
        margin-left: auto;
        margin-right: 1%;
        padding-right: 0;
        width: 56%;
    }
}

.step {
    margin: 0 auto 2rem auto;
    margin-bottom: 50rem;
    /* background-color: #777; */
    background-color: rgba(210,210,210,0.8);
    color: black;

    
    @media only screen and (min-width: 700px) {
        text-align: left;
        margin-left: 2%;
        margin-bottom: 25rem;
    }
      
}

.step a,
#intro-paragraph a {
    color: #58c;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: #000831;
    opacity: 1.0;
    border: black;

    /* If on desktop*/
    @media only screen and (min-width: 700px) {
        text-align: left;
    }
}

.step span {
    font-weight: bold;
}

.hidden { 
    visibility: hidden;
}

.invisible { 
    /* visibility: hidden;  */
    transition: opacity 0.5s;
    opacity: 0%;
}

  /* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {
    #scrolly.side-by-side {
        display: flex;
    }

    #scrolly.side-by-side > div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75em;
    }

    /* .step p {
      text-align: center;
      color: red;
      font-size: 100px;
    } */

    #scrolly.side-by-side .scrolly-overlay {
        margin-top: 70vh;
        order: 0;
        /* Change these to adjust sizing options */
        min-width: 15rem;
        max-width: 20rem;

        align-self: left;
    }

    #scrolly.side-by-side .sticky-thing {
        order: 1;
        flex-grow: 2;
    }
}